
    <p>O que tem para jantar?</p>
    <form action='cast' method='post'>
      <ul class='unstyled'>
        <% Opcoes.each do |id, text| %>
          <li>
            <label class='radio'>
              <input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
              <%= text %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Votar!</button>
    </form>
  </body>
</html>